.single-tooltip {
	pointer-events: none;
	position: fixed;
	display: flex;
	transform: translate(-50%);
	gap: -1px;
}

.single-tooltip--text {
	position: relative;
	width: max-content;
	max-width: 360px;
	white-space: normal;
	word-break: break-all;
	padding: 0.75rem;
	font-size: 0.75rem;
	color: white;
}

@media (max-width: 640px) {
	.single-tooltip--text {
		max-width: 200px;
	}
}

.single-tooltip--pointer {
	margin: 0 auto;
}
