.single-tooltip {
	position: fixed;
	display: flex;
	transform: translate(-50%);
	flex-direction: column;
}

.single-tooltip--text {
	position: relative;
	width: max-content;
	max-width: 360px;
	white-space: normal;
	word-break: break-all;
}

@media (max-width: 640px) {
	.single-tooltip--text {
		max-width: 200px;
	}
}

.single-tooltip--pointer {
	margin: 0 auto;
}
